In [1]:
import time
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from tqdm import tqdm

In [2]:
data = pd.read_csv("../paruvendu_api/outputs/paruvendu.csv")
data.head()

,location,version,price,year,mileage,fuel_type,emission,transmission,door_nb,technical_power,seat_nb,actual_power,body_type
0,86.0,dacia/duster,17600.0,2019,18300.0,essence,NaN,manuelle,4.0,7.0,5.0,130.0,4x4
1,59.0,mini/cooper,24990.0,2018,47500.0,essence,119.0,automatique,2.0,10.0,4.0,192.0,berline
2,53.0,nissan/qashqai,8490.0,2013,166400.0,diesel,129.0,manuelle,4.0,6.0,5.0,110.0,break
3,1.0,nissan/qashqai,16900.0,2016,61500.0,diesel,128.0,automatique,4.0,7.0,5.0,130.0,4x4
4,30.0,mini/cooper,17900.0,2018,58529.0,diesel,99.0,manuelle,4.0,5.0,5.0,95.0,berline

In [3]:
df = data.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15552 entries, 0 to 15551
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   location         15534 non-null  float64
 1   version          15552 non-null  object
 2   price            15542 non-null  float64
 3   year             15552 non-null  int64
 4   mileage          15544 non-null  float64
 5   fuel_type        14492 non-null  object
 6   emission         9052 non-null   float64
 7   transmission     11061 non-null  object
 8   door_nb          15102 non-null  float64
 9   technical_power  14779 non-null  float64
 10  seat_nb          10239 non-null  float64
 11  actual_power     7602 non-null   float64
 12  body_type        13197 non-null  object
dtypes: float64(8), int64(1), object(4)
memory usage: 1.5+ MB

In [5]:
df.isna().sum()

location             18
version               0
price                10
year                  0
mileage               8
fuel_type          1060
emission           6500
transmission       4491
door_nb             450
technical_power     773
seat_nb            5313
actual_power       7950
body_type          2355
dtype: int64

## TRAINTEST - NETTOYAGE - ENCODAGE

### Nettoyage

In [6]:
df_agg = df.groupby('version', as_index=False).median()
df_agg.head()

,version,location,price,year,mileage,emission,door_nb,technical_power,seat_nb,actual_power
0,abarth/500,58.0,19999.0,2019.0,12932.0,155.0,2.0,8.0,4.0,165.0
1,abarth/595,31.0,20490.0,2017.0,32600.0,139.0,2.0,10.0,4.0,180.0
2,audi/a1,37.5,17490.0,2017.0,40500.0,103.0,4.0,5.0,4.0,95.0
3,audi/a3,51.0,19490.0,2016.0,78451.0,113.0,4.0,6.0,5.0,125.0
4,audi/a4,38.0,24999.0,2017.0,69651.0,139.0,4.0,8.0,5.0,150.0

In [7]:
""" for name in tqdm(df_agg.version):
    for col in df.select_dtypes('float64'):
        value = df_agg[df_agg['version'] == name][col].item()
        df.loc(df['version'].where(name)[col].fillna(value, inplace=True))
        df[col] = df[col].fillna(value) """

" for name in tqdm(df_agg.version):\n    for col in df.select_dtypes('float64'):\n        value = df_agg[df_agg['version'] == name][col].item()\n        df.loc(df['version'].where(name)[col].fillna(value, inplace=True))\n        df[col] = df[col].fillna(value) "

In [16]:
df.head()

,location,version,price,year,mileage,fuel_type,emission,transmission,door_nb,technical_power,seat_nb,actual_power,body_type
0,86.0,dacia/duster,17600.0,2019,18300.0,essence,-125.0,manuelle,4.0,7.0,5.0,130.0,4x4
1,59.0,mini/cooper,24990.0,2018,47500.0,essence,119.0,automatique,2.0,10.0,4.0,192.0,berline
2,53.0,nissan/qashqai,8490.0,2013,166400.0,diesel,129.0,manuelle,4.0,6.0,5.0,110.0,break
3,1.0,nissan/qashqai,16900.0,2016,61500.0,diesel,128.0,automatique,4.0,7.0,5.0,130.0,4x4
4,30.0,mini/cooper,17900.0,2018,58529.0,diesel,99.0,manuelle,4.0,5.0,5.0,95.0,berline

In [32]:
# RESTART TON KERNEL BLÉRO

loop_length = len(df)
df.fillna(-125.0, inplace=True)

for i in (range(loop_length)):
    line = df.iloc[i].copy()
    # line_copy = line.copy()
    line_agg = df_agg.loc[df_agg['version'] == line['version']]
    if line['emission'] == -125.0:
        n_emission = line_agg['emission'].item()
        line['emission'] = n_emission
    df.iloc[i] = line
        # print(n_emission)
        # print(line)
    # for col in df.select_dtypes('float64'):
    #     if line[col] == -125.0:
    #         line[col] = line_agg[col]
df.head()

,location,version,price,year,mileage,fuel_type,emission,transmission,door_nb,technical_power,seat_nb,actual_power,body_type
0,86.0,dacia/duster,17600.0,2019,18300.0,essence,126.0,manuelle,4.0,7.0,5.0,130.0,4x4
1,59.0,mini/cooper,24990.0,2018,47500.0,essence,119.0,automatique,2.0,10.0,4.0,192.0,berline
2,53.0,nissan/qashqai,8490.0,2013,166400.0,diesel,129.0,manuelle,4.0,6.0,5.0,110.0,break
3,1.0,nissan/qashqai,16900.0,2016,61500.0,diesel,128.0,automatique,4.0,7.0,5.0,130.0,4x4
4,30.0,mini/cooper,17900.0,2018,58529.0,diesel,99.0,manuelle,4.0,5.0,5.0,95.0,berline

In [ ]:
df.isna().sum()

In [ ]:
# for col in df.select_dtypes('object'):
#     df[col] = df[col].fillna(f'unknown_{col}')

In [ ]:
df.head()

In [ ]:
loop_length = len(df)
for 
for i in tqdm(range(loop_length)):
    line = df.iloc[i]
    if line['fuel_type'].isna():
        version = line['version']
# = df['fuel_type'].where(df['version'] ==, df['Budget'] * 0.78125)

### Encodage

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
def encodage_feature(df, column):
    ohe = OneHotEncoder(sparse=False)
    feature_array = ohe.fit_transform(df[[column]])
    feature_labels = ohe.categories_
    feature_labels = np.array(feature_labels).ravel()
    features = pd.DataFrame(feature_array, columns=feature_labels)
    
    return features

In [ ]:
def preprocessing(df):    
    for col in df.select_dtypes('object'):
        features = encodage_feature(df, col)
        df = pd.concat([df, features], axis=1)
        df = df.drop(columns=[col])
    
    X = df.drop('price', axis=1)
    y = df['price']
    y = y.values.reshape(y.shape[0], 1)

    print(X.shape, y.shape)
    
    return X, y

In [ ]:
X, y = preprocessing(df)

In [ ]:
x.head()

In [ ]:
y.head()

### Traintest

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=0)

In [ ]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

### Standardiser

La phase exploratoire nous a permis d'observer une distribution normale, plus appropriée pour standardiser les données

In [ ]:
from sklearn import preprocessing

stds = preprocessing.StandardScaler()
X1_train = stds.fit_transform(X_train)

In [ ]:
X1_train

## MODELISATION
### 1.1 Phase d'entrainement avec Scikit-learn

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
# starting time
start = time.time()

#entrainement du modèle
lmodellineaire_std = LinearRegression()
lmodellineaire_std.fit(X1_train, y_train)

# sleeping for 1 sec to get 10 sec runtime
time.sleep(1)

# program body ends

# end time
end = time.time()
time_fit_std = end - start

# total time taken
print(f"Runtime of the program is {time_fit_std}")

In [ ]:
print('Intercept: \n', lmodellineaire_std.intercept_)
print('Coefficients: \n', lmodellineaire_std.coef_)

In [ ]:
# Evaluation du training set
y_train_predict = lmodellineaire_std.predict(X1_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict)))
r2 = r2_score(y_train, y_train_predict)

print("La performance du modèle sur la base dapprentissage")
print("--------------------------------------")
print(f"L'erreur quadratique moyenne est {rmse}")
print(f"Le score R2 est {r2}")

In [ ]:
X1_train

In [ ]:
plt.scatter(X1_train[:, 3], y_train) # observer le kilométrage
plt.scatter(X1_train[:, 3], y_train_predict, c='r')

In [ ]:
X1_test = stds.transform(X_test)

In [ ]:
# model evaluation for testing set
y_test_predict = lmodellineaire_std.predict(X1_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_predict)))
r2 = r2_score(y_test, y_test_predict)

print("La performance du modèle sur la base de test")
print("--------------------------------------")
print(f"L'erreur quadratique moyenne est {rmse}")
print(f"Le score R2 est {r2}")

In [ ]:
plt.scatter(X1_test[:, 3], y_test)
plt.scatter(X1_test[:, 3], y_test_predict, c='r')

## FEATURE SELECTION

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
selector = VarianceThreshold(0.6)
selector.fit_transform(X_train)
cols = selector.get_support(indices=True)
features_df_new = X_train.iloc[:, list(cols)]
features_df_new.head()

In [ ]:
from sklearn.feature_selection import SelectKBest, f_regression

In [ ]:
selector = SelectKBest(f_regression, k=2)
selector.fit_transform(X_train, y_train)
cols = selector.get_support(indices=True)
features_df_new = X_train.iloc[:, list(cols)]
features_df_new.head()

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

In [ ]:
a

In [ ]:
estimator = SVR(kernel="linear")
selector = RFE(estimator, n_features_to_select=2, step=1)
selector = selector.fit(X_train, y_train)
cols = selector.get_support(indices=True)
features_df_new = X_train.iloc[:, list(cols)]
features_df_new.head()